@model UserRegistrationViewModel

@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ajax-result",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "$('#ajax-result').html('<img src=\"" + Url.Content("~/Images/ajax-loader.gif") + "\" />')"
    };
}

<div class="login-form">
    @using (Ajax.BeginForm("Register", new { controller = "AccountSurface" }, ajaxOptions, new { id = "registration-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-7">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Username, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-7">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-7">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-7">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-7">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-info">Register</button>
        </div>
    }

    <div id="ajax-result"></div>
</div>